{% extends "./base.html" %}
{% block content %}
<header>
    <h1>About Us</h1>
</header>
<main>
    <section class="about-team">
        <h2>Our Team</h2>
        <div class="team-member">
            <img src="https://images.pexels.com/photos/839011/pexels-photo-839011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Jane Doe">
            <div class="person-info">
                <h3>Jane Doe</h3>
                <p class="position">CTO</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel pharetra tincidunt, nunc nunc pellentesque nunc, a aliquet velit nisi vel sapien.</p>
                <button class="contact">Contact</button>
            </div>
        </div>
        <!-- Add more team members here -->
    </section>
</main>
{% endblock content %}