.conatiner {
    display: flex;
    flex-direction: row; /*Default value*/
    flex-wrap: nowrap; /*Default value*/
    flex-flow: row nowrap; /* shorthand code*/
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% */
}
.header , .footer {
    background-color: #bcb9b9;
    padding: 20px;
    flex: 0 0 50px;

}
.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar {
    background-color: #9d7e7e;
    padding: 20px;
    flex: 1;
}
.content {
    background-color: #582222;
    padding: 20px;
    flex: 2;
    align-items: flex-end;
    align-content: last baseline;

}