.outer{
    background-color: bisque;
    height: 100px;
    position: relative;
}
.inner-div {
    background-color: blueviolet;
    color: white;
    height: 50px;
    position: absolute;
    right: 10px;
}
img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}